.setting__slider {
    background: red;
    -webkit-appearance: none;
    border-radius: 1000rem;
    height: 1rem;
    outline: none;
    width: 40rem;
}

.setting__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 2.6rem;
    width: 1rem;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    position: relative;
}

.setting__slider::-moz-range-thumb {
    background: whitesmoke;
    border: 1px solid #222;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.setting__slider::-ms-thumb {
    background: whitesmoke;
    border: 1px solid #222;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.settings__setting {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    position: relative;
}

.setting__title {
    font-size: 1.14rem;
    display: inline-block;
    width: 14rem;
}

.setting__slider {
    margin-right: 1.1rem;
}

.setting__input {
    width: 7rem;
    height: 2.1rem;
}

.setting__input::-webkit-inner-spin-button {
    display: none;
}

.setting__input-unit {
    position: absolute;
    right: 1.4rem;
    font-size: 1.4rem;
}
