*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Courier New", monospace;
    box-sizing: border-box;
}

.app {
    background-color: #bbb;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.selection {
    position: absolute;
    width: 100vw;
    padding: 2rem;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.1s;

    --slider-thumb-size: 1.6rem;
}

.selection:hover {
    background-color: white;
}

.settings > * {
    margin-bottom: 1.1rem;
}

.settings__setting-frame > * {
    display: inline-block;
    margin-right: 1rem;
}

.settings__slider-input {
    width: 7rem;
}

.selection__button {
    font-size: 1.8rem;
    font-family: "Courier New", monospace;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.6rem;
    cursor: pointer;
    opacity: 1;
    position: relative;
}

.button-restart {
    background-color: green;
    margin-right: 1.1rem;
}

.button-settings {
    background-color: #222;
    color: #eee;
}

.settings__slider {
    background: red;
    -webkit-appearance: none;
    border-radius: 1000rem;
    height: 1rem;
    outline: none;
    width: 40rem;
}

.settings__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 2.6rem;
    width: 1rem;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    position: relative;
}

.settings__slider::-moz-range-thumb {
    background: whitesmoke;
    border: 1px solid #222;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

.settings__slider::-ms-thumb {
    background: whitesmoke;
    border: 1px solid #222;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}

/* Chrome */

.node {
    background-color: rgb(0, 255, 0);
    position: absolute;
    border: 2px solid black;
    border-radius: 1000rem;
}

.node--vaxxed {
    background-color: rgb(14, 139, 255);
}

.node--incubating {
    background-color: orange;
}

.node--infected {
    background-color: #f00;
}
