*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Courier New", monospace;
    box-sizing: border-box;
}

.app {
    background-color: #bbb;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.selection {
    position: absolute;
    width: 100vw;
    padding: 2rem;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.75);
    transition: background-color 0.1s, transform 0.4s;

    --slider-thumb-size: 1.6rem;
}

.selection:hover {
    background-color: white;
}

.settings {
    display: flex;
    flex-direction: column;
}

.settings > * {
    margin-bottom: 1.1rem;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.selection__button {
    font-size: 1.8rem;
    font-family: "Courier New", monospace;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.6rem;
    cursor: pointer;
    opacity: 1;
    position: relative;
}

#button-restart {
    background-color: green;
    margin-right: 1.1rem;
}

#button-settings {
    background-color: #222;
    color: #eee;
    position: relative;
    padding-right: 3rem;
}

#button-settings__arrow {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 1.4rem;
    font-size: 2.6rem;
    transform: translate(50%, -50%) scaleX(1.5);
    width: fit-content;
    transition: 0.4s;
}

#button-pause {
    background-color: transparent;
    height: 4.5rem;
    width: 4.5rem;
    outline: none;
    border: none;
    margin-left: auto;
    cursor: pointer;
    position: relative;
}

.button-pause-svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.button-pause-path {
    width: 33.75px;
    height: 33.75px;
}

.button-pause-svg--hidden {
    display: none;
}

.button-settings__arrow--down {
    transform: translate(50%, -50%) scaleX(1.5) rotate(180deg) !important;
}

/* Chrome */

.node {
    background-color: rgb(0, 255, 0);
    position: absolute;
    border: 2px solid black;
    border-radius: 1000rem;
    transform: translate(-50%, -50%);
}

.node--vaccinated {
    background-color: rgb(14, 139, 255);
}

.node--incubating {
    background-color: orange;
}

.node--infected {
    background-color: #f00;
}
